<div class="page-header">
  <h1>
    Borrowers
    <a href="/borrowers/new" class="btn btn-lg btn-success">New Borrower</a>
  </h1>
</div>


<div class="row m-b-2">
  <div class="col-md-12">
    <div>
      <div id="location_map" style="height: 480px;"></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Address</th>
        <th>Email</th>
        <th>Password</th>
        <th>Actions</th>
      </tr>

      <% @borrowers.each do |borrower| %>
      <tr>
        <td><%= borrower.first_name %></td>
        <td><%= borrower.last_name %></td>
        <td><%= borrower.address %></td>
        <td><%= borrower.email %></td>
        <td><%= borrower.password %></td>
        <td>
          <a href="/borrowers/<%= borrower.id %>" class="btn btn-primary">Show</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<script src="//maps.google.com/maps/api/js?v=3.24&key=AIzaSyCOTPWiuvyyo6sKoIBzKA4-1ol-vTOIOlM"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'location_map'}}, function(){
    markers = handler.addMarkers(<%= raw @location_hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>