<!-- Validation failure messages -->
<% if @equipment_comment.errors.any? %>
  <% @equipment_comment.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Equipment Comment #<%= @equipment_comment.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_equipment_comment/<%= @equipment_comment.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for equipment_id -->
      <div class="form-group">
        <label for="equipment_id" class="control-label">
          Equipment
        </label>

        <%= select_tag(:equipment_id, options_from_collection_for_select(Equipment.all, :id, :user_id, @equipment_comment.equipment_id), :class => "form-control") %>
      </div>

      <!-- Label and input for borrower_id -->
      <div class="form-group">
        <label for="borrower_id" class="control-label">
          Borrower
        </label>

        <%= select_tag(:borrower_id, options_from_collection_for_select(Borrower.all, :id, :created_at, @equipment_comment.borrower_id), :class => "form-control") %>
      </div>

      <button class="btn btn-warning">
        Update Equipment Comment
      </button>
      or
      <a href="/equipment_comments/<%= @equipment_comment.id %>">Cancel</a>
    </form>
  </div>
</div>
