<div class="page-header">
  <h3>Equipment Comment #<%= @equipment_comment.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Equipment</dt>
      <dd>
        <% if @equipment_comment.piece_of_equipment.present? %>
          <a href="/equipment/<%= @equipment_comment.equipment_id %>">
            <%= @equipment_comment.piece_of_equipment.user_id %>
          </a>
        <% end %>
      </dd>

      <dt>Borrower</dt>
      <dd>
        <% if @equipment_comment.borrower.present? %>
          <a href="/borrowers/<%= @equipment_comment.borrower_id %>">
            <%= @equipment_comment.borrower.created_at %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/equipment_comments" class="btn btn-primary">
        Back
      </a>
      <a href="/equipment_comments/<%= @equipment_comment.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_equipment_comment/<%= @equipment_comment.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
