<div class="page-header">
  <h3>Equipment #<%= @equipment.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @equipment.user_id %></dd>

      <dt>Lender</dt>
      <dd><%= @equipment.lender_id %></dd>

      <dt>Category</dt>
      <dd><%= @equipment.category %></dd>

      <dt>Price</dt>
      <dd><%= @equipment.price %></dd>

      <dt>Image</dt>
      <dd><img src="<%= @equipment.image %>" class="img-responsive"></dd>

      <dt>Time available start</dt>
      <dd><%= @equipment.time_available_start %></dd>

      <dt>Time available end</dt>
      <dd><%= @equipment.time_available_end %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/equipment" class="btn btn-primary">
        Back
      </a>
      <a href="/equipment/<%= @equipment.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_equipment/<%= @equipment.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Equipment has many equipment_comments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Equipment Comments
      </li>

      <% @equipment.equipment_comments.each do |equipment_comment| %>
        <li class="list-group-item">
          <a href="/equipment_comments/<%= equipment_comment.id %>">
            <%= equipment_comment.equipment_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/equipment_comments/<%= equipment_comment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/equipment_comments/<%= equipment_comment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_equipment_comment/<%= equipment_comment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Equipment has many loans -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Loans
      </li>

      <% @equipment.loans.each do |loan| %>
        <li class="list-group-item">
          <a href="/loans/<%= loan.id %>">
            <%= loan.borrow_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/loans/<%= loan.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/loans/<%= loan.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_loan/<%= loan.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
