<div class="page-header">
  <h3>Equipment #<%= @equipment.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @equipment.user_id %></dd>

      <dt>Lender</dt>
      <dd>
        <% if @equipment.lender.present? %>
          <a href="/lenders/<%= @equipment.lender_id %>">
            <%= @equipment.lender.id %>
          </a>
        <% end %>
      </dd>

      <dt>Category</dt>
      <dd><%= @equipment.category %></dd>

      <dt>Price</dt>
      <dd><%= @equipment.price %></dd>

      <dt>Image</dt>
      <dd><img src="<%= @equipment.image %>" class="img-responsive"></dd>

      <dt>Time available start</dt>
      <dd><%= @equipment.time_available_start %></dd>

      <dt>Time available end</dt>
      <dd><%= @equipment.time_available_end %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/equipment" class="btn btn-primary">
        Back
      </a>
      <a href="/equipment/<%= @equipment.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_equipment/<%= @equipment.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Equipment has many equipment_comments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Equipment Comments
      </li>

      <% @equipment.equipment_comments.each do |equipment_comment| %>
        <li class="list-group-item">
          <a href="/equipment_comments/<%= equipment_comment.id %>">
            <%= equipment_comment.equipment_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/equipment_comments/<%= equipment_comment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/equipment_comments/<%= equipment_comment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_equipment_comment/<%= equipment_comment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_equipment_comment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for equipment_id -->
      <input type="hidden" name="equipment_id" value="<%= @equipment.id %>">

      <!-- Label and input for borrower_id -->
      <div class="form-group">
        <label for="borrower_id" class="control-label">
          Borrower
        </label>

        <%= select_tag(:borrower_id, options_from_collection_for_select(Borrower.all, :id, :created_at), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Equipment Comment
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Equipment has many loans -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Loans
      </li>

      <% @equipment.loans.each do |loan| %>
        <li class="list-group-item">
          <a href="/loans/<%= loan.id %>">
            <%= loan.borrow_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/loans/<%= loan.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/loans/<%= loan.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_loan/<%= loan.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_loan" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for borrow_id -->
      <input type="hidden" name="borrow_id" value="<%= current_borrower.id %>">

      <!-- Label and input for lender_id -->
      <div class="form-group">
        <label for="lender_id" class="control-label">
          Lender
        </label>

        <input type="text" id="lender_id" name="lender_id" placeholder="Lender" class="form-control" value="">
      </div>

      <!-- Label and input for borrower_lender_equipment -->
      <div class="form-group">
        <label for="borrower_lender_equipment" class="control-label">
          Borrower lender equipment
        </label>

        <input type="text" id="borrower_lender_equipment" name="borrower_lender_equipment" placeholder="Borrower lender equipment" class="form-control" value="">
      </div>

      <!-- Label and input for equipment_id -->
      <input type="hidden" name="equipment_id" value="<%= @equipment.id %>">

      <button class="btn btn-block btn-success">
        Create Loan
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
