<!-- Validation failure messages -->
<% if @lender_comment.errors.any? %>
  <% @lender_comment.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Lender Comment #<%= @lender_comment.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_lender_comment/<%= @lender_comment.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for lender_id -->
      <div class="form-group">
        <label for="lender_id" class="control-label">
          Lender
        </label>

        <%= select_tag(:lender_id, options_from_collection_for_select(Lender.all, :id, :id, @lender_comment.lender_id), :class => "form-control") %>
      </div>

      
      

      <button class="btn btn-warning">
        Update Lender Comment
      </button>
      or
      <a href="/lender_comments/<%= @lender_comment.id %>">Cancel</a>
    </form>
  </div>
</div>
