<div class="page-header">
  <h3>Lender Comment #<%= @lender_comment.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Lender</dt>
      <dd><%= @lender_comment.lender_id %></dd>

      <dt>Borrower</dt>
      <dd><%= @lender_comment.borrower_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/lender_comments" class="btn btn-primary">
        Back
      </a>
      <% if current_borrower == @lender_comment.borrower %>
        <a href="/lender_comments/<%= @lender_comment.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_lender_comment/<%= @lender_comment.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
