<!-- Validation failure messages -->
<% if @lender.errors.any? %>
  <% @lender.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Lender #<%= @lender.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_lender/<%= @lender.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for lending_address -->
      <div class="form-group">
        <label for="lending_address" class="control-label">
          Lending address
        </label>

        <input type="text" id="lending_address" name="lending_address" placeholder="Lending address" class="form-control" value="<%= @lender.lending_address %>">
      </div>

      
      

      <button class="btn btn-warning">
        Update Lender
      </button>
      or
      <a href="/lenders/<%= @lender.id %>">Cancel</a>
    </form>
  </div>
</div>
