<div class="page-header">
  <h3>Lender #<%= @lender.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>First name</dt>
      <dd><%= @lender.first_name %></dd>

      <dt>Last name</dt>
      <dd><%= @lender.last_name %></dd>

      <dt>Email</dt>
      <dd><%= @lender.email %></dd>

      <dt>Address</dt>
      <dd><%= @lender.address %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/lenders" class="btn btn-primary">
        Back
      </a>
      <a href="/lenders/<%= @lender.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_lender/<%= @lender.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
