<div class="page-header">
  <h3>Lender #<%= @lender.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>First name</dt>
      <dd><%= @lender.first_name %></dd>

      <dt>Last name</dt>
      <dd><%= @lender.last_name %></dd>

      <dt>Email</dt>
      <dd><%= @lender.email %></dd>

      <dt>Address</dt>
      <dd><%= @lender.address %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/lenders" class="btn btn-primary">
        Back
      </a>
      <a href="/lenders/<%= @lender.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_lender/<%= @lender.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Lender has many lender_comments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Lender Comments
      </li>

      <% @lender.lender_comments.each do |lender_comment| %>
        <li class="list-group-item">
          <a href="/lender_comments/<%= lender_comment.id %>">
            <%= lender_comment.lender_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/lender_comments/<%= lender_comment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/lender_comments/<%= lender_comment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_lender_comment/<%= lender_comment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Lender has many equipment -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Equipment
      </li>

      <% @lender.equipment.each do |equipment| %>
        <li class="list-group-item">
          <a href="/equipment/<%= equipment.id %>">
            <%= equipment.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/equipment/<%= equipment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/equipment/<%= equipment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_equipment/<%= equipment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Lender has many loans -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Loans
      </li>

      <% @lender.loans.each do |loan| %>
        <li class="list-group-item">
          <a href="/loans/<%= loan.id %>">
            <%= loan.borrow_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/loans/<%= loan.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/loans/<%= loan.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_loan/<%= loan.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
